.main {
  display: flex;
  margin: 10%;
  /* text-align: center; */
  /* background-color: tomato; */
}

.forms {
  /* display: flex; */
  margin: 10%;
  /* text-align: center; */
  /* background-color: green; */
}
